
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <li class="active"><a href="index" class="sf-house">Home</a></li>
                        <li class="cm-submenu">
                            <a class="sf-user-id">staff_management <span class="caret"></span></a>
                            <ul>
                                <li><a href="/Staff/Index">staff information</a></li>
                                <li><a href="/Staff/Create">add staff</a></li>
                            </ul>
                        </li>
                        <li class="cm-submenu">
                            <a class="sf-profile-group">customer_management <span class="caret"></span></a>
                            <ul>
                                <li><a href="/Customer/Index">customer information</a></li>
                                <li><a href="/Customer/Create">add customer</a></li>
                            </ul>
                        </li>
                        <li class="cm-submenu">
                            <a class="sf-carton">Medical Service <span class="caret"></span></a>
                            <ul>
                                <li><a href="/Service/Index">service information</a></li>
                                <li><a href="/Service/Create">add service</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1>Home</h1>
                <form id="cm-search" action="index.html" method="get">
                    <input type="search" name="q" autocomplete="off" placeholder="Search...">
                </form>
            </div>
            <div class="pull-right">
                <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
            </div>
            
            <div class="dropdown pull-right">
                <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li class="disabled text-center">
                        <a style="cursor:default;"><strong>@Session["username"]</strong></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
                    </li>
                    <li>
                        <a href="/Login/Logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="global">
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.mousewheel.min.js"></script>
    <script src="~/Content/assets/js/jquery.cookie.min.js"></script>
    <script src="~/Content/assets/js/fastclick.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/clearmin.min.js"></script>
    <script src="~/Content/assets/js/demo/home.js"></script>
</body>
</html>
