@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <title>CLEARMIN / LESS</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <style></style>
</head>
<body class="cm-login">

    <div class="text-center" style="padding:90px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
        <h1>Health Delivery System</h1>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
        <form method="post" id="myForm" onsubmit="return checkForm()" action="/Login/Index">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                        <input type="text" name="username" id="userName" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
                        <input type="password" name="password" id="pwd" class="form-control" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="checkbox"><label><input type="checkbox"> Remember me</label></div>
            </div><div class="col-xs-6">
                <button type="submit" class="btn btn-block btn-primary">Sign in</button>
            </div>
            <h1 class="col-xs-12" id="notice">@ViewBag.Notice</h1>
        </form>
    </div>
    <script>
        function checkForm() {
            var userName = $("#userName").val();
            var pwd = $("#pwd").val();
            if (userName.length < 1) {
                $(#notice).text("Username cannot be empty");
                return false;
            }
            if (pwd.length < 1) {
                $(#notice).text("Password cannot be empty");
                return false;
            }
        }
    </script>
</body>
</html>
