@{
    ViewBag.Title = "Home Page";
}
    <div class="container-fluid cm-container-white">
        <h2 style="margin-top:0;">Health delivery system</h2>
        <p>The personnel management system developed by Pan Jiongfan for the Healthcare Services company on the vision studio2019 platform is an ASP.NET WEB application using C#, ASP.NET MVC and MS SQL Database.</p>
    </div>
    <div class="container-fluid">
        <div class="row cm-fix-height">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Staff Management</div>
                    <div class="panel-body">
                        <a href="/Staff/Index">Add, delete and edit company staff</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Customer Management</div>
                    <div class="panel-body">
                        <a href="/Customer/Index">Add, delete and edit customers of company</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Medical Service</div>
                    <div class="panel-body">
                        <a href="Customer_management">Add, delete and edit medical services of company</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
