@{
    ViewBag.Title = "Staff management";
}

<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Staff information</h3>
                </div>
            </div>
        </div>
    </div>
</div>
